<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jacksonlum-001-site4.smarterasp.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://jacksonlum-001-site4.smarterasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>jacksonlum-001-site4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\jacksonlum-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EFDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL5013.Smarterasp.net;Initial Catalog=DB_9AE505_demo2;User ID=DB_9AE505_demo2_admin;Password=p8Jhc5XdMe2z;Pooling=False" Name="Data Source=SQL5013.Smarterasp.net;Initial Catalog=DB_9AE505_demo2;User Id=DB_9AE505_demo2_admin;Password=p8Jhc5XdMe2z;Pooling=False;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="NinjectWithEF.Domain.Concrete.EFDbContext, NinjectWithEF.Domain.Concrete" MigrationConfiguration="NinjectWithEF.WebUI.Migrations.Configuration, NinjectWithEF.WebUI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5013.Smarterasp.net;Initial Catalog=DB_9AE505_demo2;User Id=DB_9AE505_demo2_admin;Password=p8Jhc5XdMe2z;Pooling=False;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>